---
layout: default
title: Projects
css: assets/css/projects.css
---
<div class="projects">
    {% include project_section.html title="<i class='fas fas fa-briefcase'></i> Portfolio Website" projects=site.data.projects.portfolio %}
    {% include project_section.html title="<i class='fas fa-shopping-cart'></i> E-commerce Platform" projects=site.data.projects.ecommerce %}
    {% include project_section.html title="<i class='fas fa-blog'></i> Blog Website" projects=site.data.projects.blog %}
    {% include project_section.html title="<i class='fas fa-users'></i> Social Media App" projects=site.data.projects.social_media %}
    {% include project_section.html title="<i class='fas fa-book'></i> Online Learning Platform" projects=site.data.projects.online_learning %}
    {% include project_section.html title="<i class='fab fa-react'></i> Next.js Projects" projects=site.data.projects.next_js %}
    {% include project_section.html title="<i class='fab fa-react'></i> React Native Projects" projects=site.data.projects.react_native %}
    {% include project_section.html title="<i class='fas fa-code-branch'></i> Redux Projects" projects=site.data.projects.redux %}
    {% include project_section.html title="<i class='fas fa-paint-brush'></i> Tailwind CSS Projects" projects=site.data.projects.tailwind_css %}
    {% include project_section.html title="<i class='fab fa-vuejs'></i> Vue.js Projects" projects=site.data.projects.vue_js %}
    {% include project_section.html title="<i class='fas fa-network-wired'></i> GraphQL Projects" projects=site.data.projects.graphql %}
    {% include project_section.html title="<i class='fas fa-database'></i> APIs" projects=site.data.projects.api %}
</div>
