<section class="project-types">
    <h2>{{ include.title }}</h2>
    {% for project in include.projects %}
    <div class="project">
        <div class="image-container">
            <img class="project-image" src="{{ project.img }}" width="400" alt="{{ project.title }}">
            <div class="image-overlay">
                Click to view
            </div>
        </div>
        <div class="project-details">
            <p><strong>Description:</strong> {{ project.description }}</p>
            <p><strong>Technologies Used:</strong> {{ project.technologies }}</p>
            <p><strong>Features:</strong> {{ project.features }}</p>
            <p><strong>Challenges Faced:</strong> {{ project.challenges }}</p>
        </div>
    </div>
    {% endfor %}
</section>
