/* #007991 #78FFD6 */
/* #BDC3C7 #2C3E50 */
/* #cc2b5e → #753a88 */
/* #14131a #0e1111 */
html{
    font-size: 16px;
}
*{
    color: #fff;
}

header{
    width: 70%;
    padding: 2em;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    row-gap: 0.3em;
    align-items: center;
    background: #232b2b;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.4);
    /* glass effect */
    /* background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3); */
}
.main-container{
    padding: 3em 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background:#0e1111 ;
}

.profile-image img{
    width: 100%;
    transition: 0.2s ease;
}
.profile-image{
    min-width: 10vw;
    min-height: 10vw;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    overflow: hidden;
    border-radius: 50%;
}

h2{
    font-family: "mont";
    font-size: 1.5rem;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    text-align: center;
}

p{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    font-family: "anta";
    font-size: 1rem;
    text-align: center;
}


main{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.skillsAndTechs{
    margin: 4em 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 2em;
}
.skills,.techs{
    min-width: 48%;
    min-height: 100%;
    border-radius: 1em;
    background:#232b2b;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 1em;
}

.skills{
    height: max-content;
}

span{
    color: #fff;
}
.skills ul li{
    margin: 0.3em 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-family: "anta";
}

.progress-bar{
    width:60%;
    background: #fff;
    border-radius: 0.5em;
    height: 0.6em;
    position:relative;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
}
.progress-bar::after{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    background: rgb(25, 219, 25);
}
.pb-1::after{
    width: 70%;
}
.pb-2::after{
    width: 85%;
}
.pb-3::after{
    width: 80%;
}
.pb-4::after{
    width: 60%;
}
.pb-5::after{
    width: 50%;
}
.pb-6::after{
    width: 65%;
}

.skillsAndTechs .techs{
    display: flex;
    padding: 0.3em;
    border-radius: 0.4em;
    flex-direction: row;
    justify-content:space-between ;
}

.techs .techsub{
    width: 24%;
    height: 100%;
    background-color: #0e0e0e;
    border-radius: 0.4em;
    padding: 0.4em 0.2em;
}

.techs .techsub h3{
    font-family: "mont";
    font-size: 0.8rem;
    text-align: center;
    width: 100%;
}


.techs .techsub p{
    text-align: center;
    margin: 0.8em auto;
    font-size: 0.7em;
    border-radius: 1em;
    width:80%;
    height: max-content;
    padding: 0.3em 0.3em;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.techs .techsub p:hover{
    box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.3);
}

.b-green{
    border: 1px solid rgb(24, 226, 24);
}
.b-blue{
    border: 1px solid rgb(34, 130, 255);
}
.b-red{
    border: 1px solid rgb(255, 40, 40);
}
.b-yellow{
    border: 1px solid yellow;
}
.b-white{
    border: 1px solid white;
}
.b-purple{
    border: 1px solid rgb(164, 29, 255);
}
.b-lblue{
    border: 1px solid rgb(21, 255, 204);
}



#about-area {
    color: #fff;
    text-align: center;
    width: 100%;
}

.about-container {
    padding: 3em;
    background-color: #232b2b;
    width: 70%;
    margin: 0 auto;
}

.about-container h2 {
    font-size: 2rem;
}

.about-container p {
    margin: 1em 0;
}

#contact-area {
    width: 100%;
    color: #fff;
    text-align: center;
}

.contact-container {
    padding: 3em;
    background-color: #232b2b;
    width: 70%;
    margin: 3em auto;
}

.contact-container h2 {
    font-size: 2rem;
}

.contact-container p {
    margin: 1em 0;
}

.contact-container a {
    color: #fff;
    background: #0e1111;
    border-radius: 0.4em;
    transition: 0.1s ease;
    padding: 0.7em 1em;
    font-family: "mont";
}

.contact-container a:hover {
    background: black;
    color: #78FFD6;
    text-decoration: underline;
}

.contact-container,.about-container{
    border-radius: 1em;
    letter-spacing: 1px;
    word-spacing: 1px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.4);
}


@media (max-width:785px){

    html{
        font-size: 12px;
    }
    .profile-image{
        width: 15vw;
    }
    .skillsAndTechs{
        flex-direction: column;
    }
    
}

@media  (max-width:480px) {
    .profile-image{
        width: 20vw;
    }
    .skillsAndTechs .techs{
        flex-wrap: wrap;
    }
}

@media (max-width:286px){
    .skills ul li span{
        font-size: 0.8rem;
    }
    p{
        font-size: 0.8rem;
    }
    h2{
        font-size: 1.3rem;
    }
    .techs .techsub h3{
        font-size: 0.6rem;
    }
    .techs .techsub p{
        font-size: 0.5rem;
    }
}
