/* #007991 #78FFD6 */
/* #BDC3C7 #2C3E50 */
/* #cc2b5e → #753a88 */
/* #14131a #0e1111 */
html{
    font-size: 16px;
}
*{
    color: #fff;
}

header{
    width: 70%;
    padding: 2em;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    row-gap: 0.3em;
    align-items: center;
    background: #232b2b;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.4);
    /* glass effect */
    /* background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3); */
}
.main-container{
    padding: 3em 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background:#0e1111 ;
}

.profile-image img{
    width: 100%;
    transition: 0.2s ease;
}
.profile-image{
    min-width: 10vw;
    min-height: 10vw;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    overflow: hidden;
    border-radius: 50%;
}

h2{
    font-family: "mont";
    font-size: 1.5rem;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

p{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    font-family: "anta";
    font-size: 1rem;
}


main{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.skillsAndTechs{
    margin: 4em 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.skills,.techs{
    min-width: 45%;
    height: 100%;
    border-radius: 1em;
    background:#232b2b;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 1em;
}
span{
    color: #fff;
}
.skills ul li{
    margin: 0.3em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "anta";
}

.progress-bar{
    width:70%;
    background: #fff;
    border-radius: 0.5em;
    height: 0.6em;
    position:relative;
}
.progress-bar::after{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    background: green;
}
.pb-1::after{
    width: 70%;
}
.pb-2::after{
    width: 85%;
}
.pb-3::after{
    width: 80%;
}
.pb-4::after{
    width: 60%;
}
.pb-5::after{
    width: 50%;
}
.pb-6::after{
    width: 65%;
}

@media (max-width:758px)
{
    .profile-image{
        width: 15vw;
    }
}

@media  (max-width:480px) {
    .profile-image{
        width: 20vw;
    }
}


@media (max-width:785px){
    html{
        font-size: 12px;
    }
    .skillsAndTechs{
        flex-direction: column;
    }
}