/* #007991 #78FFD6 */
/* #BDC3C7 #2C3E50 */
/* #cc2b5e → #753a88 */

*{
    color: #fff;
}
header{
    width: 70%;
    padding: 2em;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    row-gap: 0.3em;
    align-items: center;

    /* glass effect */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.main-container{
    padding: 3em 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile-image img{
    width: 100%;
    transition: 0.2s ease;
}
.profile-image{
    min-width: 10vw;
    min-height: 10vw;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    overflow: hidden;
    border-radius: 50%;
}

h2{
    font-family: "mont";
    font-size: 1.5rem;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

p{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    font-family: "anta";
    font-size: 1rem;
}


main{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.skillsAndTechs{
    margin: 4em 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.skills,.techs{
    min-width: 45%;
    height: 100%;
    background:#333;
    border-radius: 1em;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 1em;
}
span{
    color: #fff;
}
.skills ul li{
    margin: 0.3em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress-bar{
    width:70%;
    background: #fff;
    border-radius: 0.5em;
    height: 0.6em;
}
.progress-bar::before{
    content: '';
    position: relative;
    left: 0;
    width: 20px;
    height: 20px;
    background: green;
}

@media (max-width:758px)
{
    .profile-image{
        width: 15vw;
    }
}

@media  (max-width:480px) {
    .profile-image{
        width: 20vw;
    }
}