.projects{
    width: 60%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    padding: 2em;
    /* margin: 2em auto; */
}

.project-types{
    margin:1em 0;
    box-shadow:0 0 2px 3px rgba(0,0,0,0.1);
    padding: 0.5em 1em;
    border-radius: 0.3em;
    transition: 0.3s ease;
}

h2{
    font-size: 1.7rem;
    text-align: center;
}

.project{
    margin: 1em 0;
}

.image-container{
    overflow: hidden;
    text-align:left;
    padding: 1em;
}

.project img{
    border-radius: 10px;
    width: 100%;
    max-width: 100%;
}

.project-details{
    width: 95%;
    margin: 1em auto;
}

.project p{
    margin-bottom: 0.2em;
    transition: transform 0.1s ease;
}

.project p:hover{
    transform: translateX(5px);
}

.project-types{
    background-color: white;
}

@media (max-width:785px){
    .projects{
        width: 100%;
        background: #E4EfE9;
    }
}