*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.projects{
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 2em;
    margin: 2em auto;
}

.project-types{
    margin:1em 0;
}

h2{
    font-size: 2rem;
    text-align: center;
}

.project{
    margin: 1em 0;
}

.image-container{
    overflow: hidden;
    text-align:left;
}

.project img{
    margin: 2em 0;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 100%;
    max-width: 100%;
    transition: transform 0.3s ease;
}

.project img:hover{
    transform: scale(1.1);
}

.project p{
    margin-bottom: 0.2em;
    transition: transform 0.1s ease;
}

.project p:hover{
    transform: translateX(5px);
}