<!doctype html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-CE3B340GX8"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-CE3B340GX8');
  </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    {% if page.css %}
    <link rel="stylesheet" href="{{ page.css | relative_url }}">
    {% endif %}
    <link rel="stylesheet" href="{{ 'assets/css/styles.css' | relative_url}}">
    
  </head>
  <body>
    {% include navigation.html %}
    <img src="{{ 'assets/svg/rectangle-list.svg' | relative_url }}" id="navigateButton">
    {{ content }}
    <script src="{{ 'assets/js/script.js' | relative_url}}"></script>
  </body>
</html>